.WorklistDateLabel {
    display: inline-block;
    font-family: "Apple Braille", "ui-sans-serif";
    font-weight: 900;
    font-size: 2.75em;
    color: #738290;
    margin-right: 0.5em;
}

.WorklistSelectDateIcon {
    display: inline-block;
    cursor: pointer;
}